/* BASIC STUFF */
:root 
{
    --backgroundColourSemiTransp:  rgba(255, 255, 255, 0.55); 
    --backgroundColour: rgba(255, 255, 255, 0.95); 
    
    --orange: #ba8303;
    
    /* GRADIENTS  */
    --windowMainColourTop: #c27301;
    --windowMainColourBottom: orange;

    --buttonColour1: #ffa500;
    --buttonColour2: #ffc107;

    --whiteColour1: white;
    --whiteColour2: rgba(225,225,225, 1.0);
}

.btn_orangeGradient
{
    background: linear-gradient(to bottom, var(--buttonColour1), var(--buttonColour2));
    border: 1px var(--orange) solid;
}
.btn_orangeGradient:focus
{
    background-color: var(--backgroundColour);
}

a:link 
{
    color: var(--orange);
    text-decoration: none;
}
a:visited 
{
    color: var(--orange);
    text-decoration: none;
}
body 
{ 
    color: black !important;
    background-color: #000 !important;
    background: url(../img/bgr.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* C L A S S E S */
.mainPageContainer 
{
    max-width: 1050px;
    min-width: 300px;
    margin: 0 auto; 
    font-family: 'Times New Roman', Times, Serif;
}
.BgrBox 
{
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    background-color: var(--backgroundColourSemiTransp);
    /* background: linear-gradient(to bottom, var(--backgroundColourSemiTransp), var(--backgroundColour)); */
    
    margin-top: 25px; 
    margin-bottom: 25px; 
                        
    box-shadow: 0px 0px 8px rgba(0,0,0,1);
    /*outline: 8px solid var(--outlineColour); */
}
.btn
{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
#Footer 
{
    font-weight: bold;
    text-align: center;
}
.pageNavbar
{
    background-color: lightgray;
    border-radius: 5px;
}
.Title
{
    text-align: center;
}
.mainSeparator
{
    border-width: 3px; 
    color: #000;
}
.pageTitle
{
    font-size:xx-large;
    font-weight: bold;
}

.bottomSeparator
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-link:link
{
    color: var(--orange);
}
.nav-link:visited
{
    color: var(--orange);
}

.flexContaier
{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    width: auto;
}
.flexColumns
{
    float: left;
    width: 25%;

    margin: 5px;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 5px;
}
.levelGridImage
{
    width: 100%; 
    height: auto; 
    padding-bottom: 5px;
}

#leaderboardsMainDiv
{
	padding: 0px;
}	
#loadingMobiMenuGif
{
	width: 32%; 
	height: auto; 
	text-align: center; 
	margin: 15px;
	margin-left: 35%;
	margin-right: 35%;
}
#tableName
{
	line-height: 50px;
	font-weight: bold;
	font-size: 1.75rem;
}
.positionColumn
{
	font-weight: bold;
	text-align: center;
	max-width: 32px;
}
#LBloadImg
{
	width: 32%; 
	height: auto; 
	text-align: center; 
	margin: 15px;
}

.tableDarkHeader
{
    background: linear-gradient(to bottom, black, #24272b);
    color: white;
    border: 1px solid black;
}
.tableBodyBackground
{
    background: linear-gradient(to bottom, var(--whiteColour2), var(--whiteColour1));
}

.table
{
	border-radius: 5px;
	background-color: var(--backgroundColour);
}

.nameColumn { text-align: left;	}
#demoSection { display: none; }
#timesSection {	display: none;	}
#newLBTableSection { display: none;	}
/* .subID {	font-size: 0.75rem; } */
#Thmeme_toggles { display: none; }