:root
{
	--LBCategoryWidth: 55%;
	--LBCategoryWidthWider: 75%;
}

/* C L A S S E S */
.tableToggleButton
{
	margin: 2.5px;
	
	margin-top: 5px;
	margin-bottom: 5px;
	/* width: 100%; */
}
.ScoreProofLink
{
	cursor: pointer;
	color: black;
}
.extProofLink:link
{
	color: black;
}
.extProofLink:visited
{
	color: black;
}
.btn
{
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.Table_header
{
	font-weight: bold;
	font-size: large;
}

.SB_Position /* scoreboard position cell text */
{
	text-align: center;	
	font-weight: bold;
}
.gameLinksBtn
{
	padding: 15px; 
	padding-top: 7px;  
	padding-bottom: 7px;
	margin-bottom: 7px;
}
.options-toggles
{
	width: 49.5%;
	height: 75%;
	margin-bottom: 2%;
}
.submitScoreCollapeBtn
{
	width: 49.5%;
	height: auto;
}

/* I D S */
#HeaderButtonsVertical
{
	display: none;
}
#HeaderButtonsHorizontal
{
	display: none;
}

#Category_buttons_main_div
{
	/* border: 1px white solid; */

	display: grid;
	grid-template-columns: 3fr 1fr;
}
/* #Categories_buttons
{
	border: 1px blue solid;
	text-align: left;
} */
#Submit_score_button
{
	/* border: 1px yellow solid; */
	text-align: right;

	margin: 0 autp;
	position: relative;
	/* justify-content: center; */
	top: 25%;
}
#pageOptionsTogglesGroup
{
	margin-top: 2%;
}
#submissionTypeGroup
{
	margin-top: 2.5%;
}

.btn-whiteFill
{
	/* background-color: var(--backgroundColour); */
	background: linear-gradient(to bottom, var(--whiteColour1), var(--whiteColour2));
	border: 1px var(--orange) solid;
}

.demoArchiveTitle
{
	font-weight: bold;
	font-size: 1.25rem;
	font-style: italic;
}

#mainCatButtonsDiv
{
	/* border: 1px red solid; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: var(--LBCategoryWidth);
}
.tableButtonsGridWrapper
{
	text-align: center;
	/* border: 1px blue solid; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: var(--LBCategoryWidth);
}
.tableButtonsGridWrapperDemo
{
	text-align: center;
	/* border: 1px blue solid; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: var(--LBCategoryWidth);
}

/* RESPONSIVE STUFF */


#Nordfels_score_lb
	{	display: block;	}
#Neuland_score_lb
	{	display: none;	}
#Neuland_time_lb
	{	display: none;	}
#Nordfels_time_lb
	{ display: none; }

.nameText:hover
{
	cursor: pointer;
}

.tableRow
{
	cursor: pointer;
}
.tableRow:hover
{
	background: linear-gradient(to bottom,var(--whiteColour2),var(--whiteColour1)) !important;
	color: var(--windowMainColourTop);
	/* font-weight: bold; */
	/* font-style: italic; */
	/* text-decoration: wavy; */
}
.tableRow:active
{
	/* background: linear-gradient(to top,var(--whiteColour2),var(--whiteColour1)) !important; */
	color: var(--windowMainColourBottom);
}