/* 
    W I D T H
*/
@media only screen and (max-width: 1050px)
{
    #mainPageContainerFront
    {
        margin: 1%;
    }
}
@media only screen and (max-width: 1000px)
{
    #subInfoOverlayBlur
    {
        padding: 3%;
    }
}

@media only screen and (max-width: 900px)
{
    #subIinfoVideoDiv
    {
        height: 360px;
    }
    #overlayBlur
    {
        padding: 50px;
    }
}

@media only screen and (max-width: 800px)
{
    #subIinfoVideoDiv
    {
        height: 380px;
    }

    #subInfoGridWrapper, #lodoutGridWrapper, #mutListCell, #subInfoImg, #subIinfoVideoDiv
    {
        max-width: 90%;
    }
    #overlayBlur
    {
        padding: 3%;
    }
    .old_overlaysBlur
    {
        padding: 2%;
    }
}

@media only screen and (max-width: 700px)
{
    #subIinfoVideoDiv
    {
        height: 320px;
    }
}

@media only screen and (max-width: 625px)
{
    #categoryButtonsWrapper
    {
        grid-template-columns: 1fr;
    }
    #categoryButtons, .levelsToggleButtons
    {
        max-width: 100%;
    }
    #submissionButtonCell
    {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 600px)
{
    #subIinfoVideoDiv
    {
        height: 280px;
    }
    #subInfoGridWrapper, #lodoutGridWrapper, #mutListCell, #subInfoImg, #subIinfoVideoDiv
    {
        max-width: 95%;
    }
    #subIinfoExternalImgDiv
    {
        height: 250px;
    }

    #newProofWindowMainVideo
    {
        padding: 3%;
    }
    #old_ProofVideo
    {
        height: 320px;
    }

    #overlayBlur
    {
        padding: 2%;
    }
    #gameLinks
    {
        grid-template-columns: 1fr 1fr;
        max-width: 350px;
    }
}

@media only screen and (max-width: 500px)
{
    #subIinfoVideoDiv
    {
        height: 240px;
    }
    #lodoutGridWrapper
    {
        grid-template-columns: 1fr;
    }
    #subIinfoExternalImgDiv
    {
        height: 225px;
    }
    #chooseSubTypeButtons
    {
        max-width: 90%;
    }

    #scoreLevelsToggle, #categoryButtons, #timeLevelsToggle 
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .uferwindBtn, .frostseeBtn
    {
        position: relative;
        left: 50%
    }
}

@media only screen and (max-width: 400px)
{
    #scoreLevelsToggle, #categoryButtons, #timeLevelsToggle
    {
        grid-template-columns: 1fr 1fr;
    }
    #demoCategoryButton
    {
        position: relative;
        left: 50%;
    }

    #categoryButtons, #levelsButtons
    {
        max-width: 350px;
        margin: auto;
    }
    #levelsButtons
    {
        padding-top: 15px;
    }

    #subIinfoVideoDiv
    {
        height: 180px;
    }
    #subInfoGridWrapper
    {
        grid-template-columns: 1fr 1fr;
    }
    #subIinfoExternalImgDiv
    {
        height: 150px;
    }
    #versionInfoCell
    {
        position: relative;
        left: 50%;
    }

    #newProofWindowMainVideo
    {
        padding: 2%;
    }
    #old_ProofVideo
    {
        height: 240px;
    }

    .frostseeBtn
    {
        left: 0;
    }
    .uferwindBtn
    {
        position: relative;
        left: 50%
    }
}

@media only screen and (max-width: 300px)
{
    #subInfoGridWrapper
    {
        grid-template-columns: 1fr;
    }
    #subIinfoExternalImgDiv
    {
        height: 125px;
    }
    #scoreLevelsToggle, #categoryButtons, #timeLevelsToggle, #gameLinks
    {
        margin: auto;
        grid-template-columns: 1fr;
        row-gap: 5px;
        max-width: 175px;
    }
    #demoCategoryButton
    {
        left: 0;
    }

    #gameLinks
    {
        row-gap: 0px;
    }
    #levelsButtons
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 200px) { }


/* 
    H E I G H T
*/
@media only screen and (max-height: 800px)
{

}

@media only screen and (max-height: 700px)
{
    #subInfoOverlayBlur
    {
        padding: 1%;
    }
    #overlayBlur
    {
        padding: 3%;
    }

    #old_ProofVideo
    {
        height: 500px;
    }
}

@media only screen and (max-height: 600px)
{
    /* #subInfoWindowsBackground
    {
        max-width: 64%;
    } */
    #subIinfoVideoDiv
    {
        height: 250px;
    }
    #overlayBlur
    {
        padding: 2%;
    }
    /* #submitWindowBakcground
    {
        max-width: 750px;
    } */
    #old_ProofVideo
    {
        height: 400px;
    }
}

@media only screen and (max-height: 550px)
{
    #subIinfoVideoDiv
    {
        height: 250px;
    }
    
    /* O L D */
    /* #newProofVideo
    {
    	height: 350px;
    }    
    .newProofWindow
    {
        height: 450px;
        top: 0px;
        transform: translate(0%,0%);
    } */
}

@media only screen and (max-height: 500px)
{
    #subInfoWindowsBackground
    {
        max-width: 50%;
    }
    
    /* #newProofVideo
    {
        height: 350px;
    }
    .newProofWindow
    {
        height: 350px;
    } */
    #overlayBlur
    {
        padding: 1%;
    }
    /* #submitWindowBakcground
    {
        max-width: 500px;
    } */
    #old_ProofVideo
    {
        height: 300px;
    }
}

@media only screen and (max-height: 450px)
{
    /* #newProofVideo
    {
    	height: 250px;
    }
    
    .newProofWindow
    {
        height: 300px;
    } */
}

@media only screen and (max-height: 400px)
{
    /* #newProofVideo
    {
    	height: 200px;
    }
    
    .newProofWindow
    {
        height: 250px;
        width: 64%;
    } */
    #old_ProofVideo
    {
        height: 250px;
    }
}

@media only screen and (max-height: 300px)
{
    .old_ProofWindow
    {
        height: 80%;
        top: 0;
        transform: translate(0,0);
    }
    /* #subInfoWindowsBackground
    {
        max-width: 40%;
    }
    #subIinfoVideoDiv
    {
        height: 200px;
    } */
}