body
{
    background-color: #e4d7ab;
    background-image: none;

    color: black;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;

    max-width: 100%;
}
label
{
    margin-right: 5px;
}
hr
{
    background-color: grey;
}


#formTitle
{
    font-weight: bold;
    font-size: 1.75rem;
    /* text-align: center !important; */
}
#formBodyDiv
{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 850px;
    width: 100%;
    /* text-align: right; */

    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;

    padding: 50px;
    padding-top: 40px;
    background-color: #f1f1f1;
    color: black;
}
#scoreSubmitForm
{
    margin-top: 32px;
}

.formCellWrapper
{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 40% 60%;
    /* border: 1px solid green; */
    /* width: 100%; */
    margin-top: 30px;
}
.formCellTitle
{
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
}
/* .formCellField
{
    text-align: right;
    width: 100%;
    position: relative;
    right: 3%;
} */

.form-check-input
{
    border: 1px grey solid;
}

.formInputField
{
    width: 95%;
    position: relative;
    right: 1%;
    border-radius: 5px;
    padding: 5px;
}
.formSelectionColumnWrapper
{
    display: grid;
    /* column-gap: 10px; */
    /* row-gap: 3px; */
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid blue; */
    /* width: 100%;     */
}

#date
{
    text-align: center;
}

#submitFormDiv
{
    margin-top: 15px;
    text-align: center;
}
/* ================================ */

#formDiv
{
    margin: auto;
    max-width: 400px;
    text-align: right;
    border: 1px solid white;
}
#formBody
{
    list-style: none;
    line-height: 32px;
    margin-left: -40px;
}

.formSubTitle
{
    font-size: 1.5rem;
    font-weight: bold ;
}
.formItem
{
    margin: 100px;
    list-style: none;
}
.formItem2
{
    list-style: none;
    list-style-type: none;
}

.multiColumn
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid grey; */
    width: 100%;
}

#submitButton
{
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    max-width: 200px;
    width: 100%;
}