.listLargeMainDiv 
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5px;
	row-gap: 5px;
	justify-content: center;
	align-items: center;
	max-width: fit-content;
	margin: 0 auto
}

.listLargeItemDiv 
{
	background-color: transparent;	
	height: 175px;
	width: 400px;
	margin: auto;
}
.listLargeItemDiv:hover
{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75); 
	transform: scale(115%);	
	z-index: 10;
	
	cursor: pointer;
	font-weight: 600;
}

.listLargeDivContent 
{
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.listLargeDivContent:hover, .listLargeItemDiv:hover
{
	border-radius: 10px;
}

.listLargeIconImage 
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.listLargeIconTitle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-shadow: 0 0 5px black;	
    z-index: 1;
	/* display: none;	 */
}

.listLargeItemDiv:hover .listLargeIconTitle
{
    display: block;
}
.listLargeIconTitleDiv
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.listLargeIconTitleDiv:hover
{	
	background: rgba(0,0,0,0.5);
}

/* .listLargeImageDiv
{
	align-items: center;
	display: flex
}

.listLargeTextDiv 
{
	margin-right: 10px
}

.listLargeTextTitle 
{
	font-weight: 600;
	font-size: 1.3rem
}

.listLargeImage 
{
	width: 100%;
	border-radius: 10px
}

.mapLitstTextTitleLink,
.mapLitstTextTitleLink:link,
.mapLitstTextTitleLink:visited 
{
	columns: white
} */