.listSmallMainDiv
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 5px;
	row-gap: 5px;
	justify-content: center;
	align-items: center;
	max-width: fit-content;
	margin: 0 auto
}

.listSmallItemDiv 
{
	background-color: transparent;	
	height: 200px;
	width: 200px;
	margin: auto;
}
.listSmallItemDiv:hover
{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75); 
	transform: scale(115%);	
	z-index: 10;
	
	cursor: pointer;
	font-weight: 600;
}

.listSmallDivContent 
{
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.listSmallDivContent:hover, .listSmallItemDiv:hover
{
	border-radius: 10px;
}

/* .listSmallDivContent:link,
.listSmallDivContent:visited 
{
	color: white
} */

.listSmallIconImage 
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.listSmallIconTitle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-shadow: 0 0 5px black;	
    z-index: 1;
	display: none;
}

.listSmallItemDiv:hover .listSmallIconTitle
{
    display: block;
}
.listSmallIconTitleDiv
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.listSmallIconTitleDiv:hover
{	
	background: rgba(0,0,0,0.5);
}