<div id="chooseSubTypeButtons">
    <span id="chooseSubTiypeTitle">Choose a category</span>
    <button class="btn btn-lg btn-block btn-warning btn-whiteFill" 
            hx-get="./submit.html" hx-swap="innerHTML" hx-target="#windowContentDiv">
                <strong> High-score </strong>
    </button>
    <button class="btn btn-lg btn-block btn-warning btn-whiteFill" 
            hx-get="./submitSpeed.html" hx-swap="innerHTML" hx-target="#windowContentDiv">
                <strong> Speed-run </strong>
    </button>
</div>