<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June/July 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
			
-->
<html lang="en">
	<head>
		<title>= Thronefall leaderboard =</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<!-- Bootstrap and other CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="./styles/global.css">
		<link rel="stylesheet" href="./styles/leaderboard.css">

		<link rel="shortcut icon" type="image/jpg" href="./pictures/crown.png">

		<script src="./scripts/boardOptions.js"></script>
		<script src="./scripts/pageOptions.js"></script>
		<script src="./scripts/theming.js"></script>

		<script src="https://unpkg.com/htmx.org@1.9.4"></script>

		<script src="./scripts/paser.js"></script>
        <script src="./scripts/sort.js"></script>
	</head>
	<body>
		<style>			
			#loadingMobiMenuGif
			{
				width: 32%; 
				height: auto; 
				text-align: center; 
				margin: 15px;
				margin-left: 35%;
				margin-right: 35%;
			}
			.positionColumn
			{
				font-weight: bold;
				text-align: center;
				max-width: 32px;
			}
			#tableName
			{
				font-weight: bold;
				font-size: 1.75em;
			}
			#LBloadImg
			{
				width: 32%; 
				height: auto; 
				text-align: center; 
				margin: 15px;
			}
			/* #tablesDiv
			{
				width: 100%;
				background-color: var(--backgroundColour);
			} */
			.table
			{
				/* border-radius: 5px; */
				background-color: var(--backgroundColour);
			}

			.nameColumn { text-align: left;	}
			#demoSection { display: none; }
			#timesSection {	display: none;	}
			#newLBTableSection { display: none;	}
			/* .subID {	font-size: 0.75em; } */
			#Thmeme_toggles { display: none; }
		</style>

		<div class="mainPageContainer" id="mainPageContainer">
			<div class="BgrBox" id="BgrBox">
				<!-- <div class="FrgBox" id ="FrgBox"> -->
					<!-- Page head stuff -->
					<section id ="Page_header"> 
						<center>
							<section id="Title">
								<img src="./pictures/crown.png" alt="Crown icon" id="crown_Icon">
								<h1> <strong> <em> Thronefall leaderboard </em> </strong> </h1>
							</section>
							<hr class="horizontalSeparator">
							<section id="Game_links">
								<span class="ButtonText">
									<a href="https://store.steampowered.com/app/2239150/Thronefall/" id="steam_page" target="_blank">
										<button type="button" class="btn btn-warning gameLinksBtn btn-whiteFill" style="padding: 15px; padding-top: 7px;  padding-bottom: 7px;">
											<b>Get the game</b>
										</button>
									</a>
									<a href="https://discord.gg/gVYctptyg8" id="discord_Link" target="_blank">
										<button type="button" class="btn btn-warning gameLinksBtn btn-whiteFill" style="padding: 15px; padding-top: 7px;  padding-bottom: 7px;">
											<b>Discord server</b>
										</button>
									</a>
								</span>
							</section>

							<noscript>		
								<hr class="horizontalSeparator">						
								<h3><strong><em>This website requires JavaScript to function correctly.</em></strong></h3>
								<hr class="horizontalSeparator">
							</noscript>
						</center>
					</section> <!-- Page head stuff -->
					<hr class="horizontalSeparator">
					
					<!-- Category buttons -->
					<section id="Category_buttons_section">
						<div id="Category_buttons_main_div">
							<div id="Categories_buttons">
								<div id="mainCatButtonsDiv">
								<!-- Main category -->
									<button type="button" onclick="ChangeCategory('score')" class="btn btn-warning tableToggleButton categoryToggleButton btn-whiteFill" id="hs_cat_btn">
										<b>High-scores</b>
									</button>
									<button type="button" onclick="ChangeCategory('time')" hx-get="../leaderboards/time/nl.html" hx-target="#leaderBoard" hx-swap="innerHTML"  class="btn btn-warning tableToggleButton categoryToggleButton btn-whiteFill" id="sr_cat_btn">
										<b>Speed-runs</b>
									</button>	
									<button type="button" onclick="ChangeCategory('demo')" hx-get="../leaderboards/demo/nl-score.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton categoryToggleButton btn-whiteFill" id="demo_cat_btn">
										<b>Demo scores & time</b>
									</button>
								</div>
								<div id="subCatButtonsDiv">
									<section id="scoresSection">
										<button type="button" onclick="ChangeTableData('Neuland')" class="btn btn-warning tableToggleButton" id="nl_score_btn">
											<b>Neuland</b>
										</button>
										<button type="button" onclick="ChangeTableData('Nordfels')" class="btn btn-warning tableToggleButton" id="nf_score_btn">
											<b>Nordfels</b>
										</button>
										<button type="button" onclick="ChangeTableData('Durststein')" class="btn btn-warning tableToggleButton" id="ds_score_btn">
											<b>Durststein</b>
										</button>								
										<button type="button" onclick="ChangeTableData('Frostsee')" class="btn btn-warning tableToggleButton" id="fs_score_btn">
											<b>Frostsee</b>
										</button>	
									</section>

									<section id="timesSection">
										<button type="button" hx-get="../leaderboards/time/nl.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton" id="nl_time_btn">
											<b>Neuland</b>
										</button>
										<button type="button" hx-get="../leaderboards/time/nf.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton" id="nf_time_btn">
											<b>Nordfels</b>
										</button>
										<button type="button" hx-get="../leaderboards/time/ds.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton" id="ds_time_btn">
											<b>Durststein</b>
										</button>								
										<button type="button" hx-get="../leaderboards/time/fs.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton" id="fs_time_btn">
											<b>Frostsee</b>
										</button>	
									</section>

									<section id="demoSection">
										<button type="button" hx-get="../leaderboards/demo/nl-score.html" hx-target="#leaderBoard" hx-swap="innerHTML" class="btn btn-warning tableToggleButton" id="nl_score_demo_btn">
											<b>Neuland scores</b>
										</button>
										<button type="button" hx-get="../leaderboards/demo/nf-score.html" hx-target="#leaderBoard" hx-swap="innerHTML"  class="btn btn-warning tableToggleButton" id="nf_score_demo_btn">
											<b>Nordfels scores</b>
										</button>
										<button type="button" hx-get="../leaderboards/demo/nl-time.html" hx-target="#leaderBoard" hx-swap="innerHTML"  class="btn btn-warning tableToggleButton" id="nl_time_demo_btn">
											<b>Neuland time</b>
										</button>								
										<button type="button" hx-get="../leaderboards/demo/nf-time.html" hx-target="#leaderBoard" hx-swap="innerHTML"  class="btn btn-warning tableToggleButton" id="nf_time_demo_btn">
											<b>Nordfels time</b>
										</button>	
									</section>
								</div>
							</div>
							
							<div id="Submit_score_button">					
								<!-- submit score overlay button  -->
								<button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#pageOptionsTogglesGroup" aria-expanded="false" aria-controls="pageOptionsTogglesGroup">
									<img src="./pictures/gear.png" style="width: 20px; height:20px"/>
								</button>
								<button type="button" class="btn btn-warning submitScoreOverlayBtn btn-lg" data-toggle="collapse" data-target="#submissionTypeGroup" aria-expanded="false" aria-controls="pageOptionsTogglesGroup">
									<strong>SUBMIT</strong>
								</button>
							</div>
						</div>
					</section>		

					<section id="Options_buttons_section">
						<div class="collapse" id="pageOptionsTogglesGroup">
							<div class="card card-body" id="pageOptionsTogglesGroupCotentBox">
								<h4 style="text-align: center; padding-bottom: 10px; font-weight: bold;">Options</h4>

								<!-- Colour theme buttons disabled because they don't work on new tables. Will be fixed in the future -->
								
								<div id="Thmeme_toggles" style="display: inline-flexbox;">
									<button id="Dark_theme_toggle" class="btn btn-warning options-toggles" type="button" onclick="ColourChangeDark()">
										Dark theme
									</button>
									<button id="Light_theme_toggle" class="btn btn-warning options-toggles" type="button" onclick="ColourChangeLight()">
										Light theme
									</button>
								</div>
								<div id="Font_toggles" style="display: inline-flexbox;">
									<button id="Clean_font_toggle"   class="btn btn-warning options-toggles" type="button" onclick="ChangeFontToCleaner()">
										<span style="font-family: Roboto,sans-serif,Arial;">Cleaner text</span>
									</button>
									<button id="Default_font_toggle" class="btn btn-warning options-toggles" type="button" onclick="ChangeFontToDefault()">
										Fancier text
									</button>
								</div>
							</div>
						</div>
					</section>
					<section id="Options_buttons_section">
						<div class="collapse" id="submissionTypeGroup">
							<div class="card card-body" id="submissionTypeGroupCotentBox">

								<h4 style="text-align: center; padding-bottom: 10px; font-weight: bold;">Submit high-score or a speedrun time</h4>
								<div id="Submit_score_group" style="display: inline-flexbox;">
									<button id="submit_score" type="button" class="btn btn-warning submitScoreCollapeBtn" onclick="ShowFormWindow()">
										<b>Submit high-score</b>
									</button>
									<button id="submit_speedrun" type="button" class="btn btn-warning submitScoreCollapeBtn" onclick="ShowFormWindowTime()">
										<b>Submit speedrun</b>
									</button>
								</div>

							</div>
						</div>
					</section>	
					<hr class="horizontalSeparator">
								
					<div id="leaderboardsMainDiv">
						<section id="newLBSection">
							<section id="newLBLoadingImg" style="text-align: center; ">
								<img src="./pictures/loading edit.gif" id="LBloadImg">
							</section>
							<section id="newLBTableSection">
								<div class="tableContainer" style="overflow-x:auto;"> 
									<span id="tableName"> ... </span>
									<table class="table table-striped" id="newLBTable" style="text-align: center; border: 0px black dotted">
										<thead class="table-dark" id="newLbHeader" style="font-weight: bold;">
											<td class="th-position positionColumn">#</td>
											<td class="th-name nameColumn">Name</td>
											<td class="th-score scoreColumn">Score</td>
											<td class="th-coins coinsColumn">Gold</td>
											<td class="th-mutNums mutatorsColumn">Mutators</td>
											<td class="th-proof proofColumn">Proof</td>
											<td class="th-version versionColumn">Version</td>
											<td class="th-date dateColumn">Date</td>
										</thead>
										<tbody id="newLbBody">
											<tr class="tableRow">
												<td class="position positionColumn">...</td>
												<td class="name nameColumn">...</td>
												<td class="score scoreColumn">...</td>
												<td class="coins coinsColumn">...</td>
												<td class="mutNums mutatorsColumn">...</td>
												<td class="proof proofColumn">
													<a class="proofLink" href="" target="_blank"> View </a>
												</td>
												<td class="version versionColumn">...</td>
												<td class="date dateColumn">...</td>
											</tr>
										</tbody>
									</table>
								</div>
								<hr class="bottomSeparator">
							</section>
					</section> <!-- newLBSection -->					
					<section id="leaderBoard">
						<!-- old leaderbaord system here-->
					</section>
					</div>

					<script>
						SpawnTableRows();
						GetSubData();
						
						document.getElementById("hs_cat_btn").classList.add("active");
					</script>
					<section id="Footer"> <!-- Footer -->
						<center>
							<h6>
								<span id="footerText" style=" font-weight: bold;"><i>Leaderboard page made by GhostMiner. v.1.8 LTS (August 2023)</i> |
									<a href="https://ghost-miner.github.io/">Website</a>, 
									<a href="http://youtube.com/ghostMinerMC">Youtube</a>, 
									<a href="https://discord.gg/DjUBY9h">Discord</a>
								</span>							
							</h6>
						</center>
					</section> <!-- Footer -->
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script>	/*ChangeCategory("demo");*/	SetFontStyle();		</script>

		<section id="newOverlay">



		</section>

		<!-- submit score overlay -->
		<section class="overlays" id="SubmitScoreOverlay">
			<style>
				.submitBakcground 
				{
				  position: fixed;
				  display: none;
				  width: 100%;
				  height: 100%;
				  margin: 0 auto;
				  padding: 5%;
				  padding-top: 2.5%;
				  top: 0;
				  left: 0;
				  right: 0;
				  bottom: 0;
				  background-color: rgba(0,0,0,0.5);
				  z-index: 2;
				  cursor: default;
				  backdrop-filter: blur(16px);
				}				
				#SubmitWinContent
				{
					border-radius: 5px;
					margin: auto;
					max-width: 800px;
					max-height: 800px;
					padding: 0.5%;
					width: 100%;
					height:100%;
					font-size: 30px;
					color: white;
				  	background-color: #c27301;
				  	z-index: 3;
					
					box-shadow: 4px 4px 16px rgba(0,0,0,0.75);
				}
				#submitOvrlCancel 
				{
					display: block;
					padding-top: 2%;
				}
				
				@media screen and (max-width: 1050px)
				{					
					#SubmitWinContent
					{
						padding: 1%;
						height:95%;
					}
					#submitOvrlCancel 
					{
						display:block;
						padding-top: 0%;
					}
					.submitBakcground 
					{
						padding: 2.5%;
					}
				}
				@media screen and (max-width: 600px)
				{					
					#SubmitWinContent
					{
						padding: 1.5%;
						height: 85%;
					}
					.submitBakcground 
					{
						padding: 2%;
					}
				}
			</style>
				<center>
					<div class="submitBakcground" id="submitBakcgroundScore">
						<div id="SubmitWinContent">
								<iframe id="submitFormFrame" src="../submit.html" style="display: block; width:100%; height:100%; border:0px; background-color: #000;"></iframe>							
								<button onclick="HideFormWindow()" type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="padding-left: 5%; padding-right: 5%; margin-top: 1%; background-color: var(--backgroundColour);">
									Cancel
								</button>
								<a id="submitScoreFullscreen" href="../submit.html" target="_blank"> 
									<button type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="margin-top: 1%; background-color: var(--backgroundColour);">
										Open in new tab
									</button>
								</a>
						</div>
					</div>
					
					<div class="submitBakcground" id="submitBakcgroundTime">
						<div id="SubmitWinContent">
							<iframe id="submitFormFrame" src="../submitSpeed.html" style="width:100%; height:100%; border:0px; background-color: #000;"></iframe>							
							<button onclick="HideFormWindowTime()" type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="padding-left: 5%; padding-right: 5%; margin-top: 1%; background-color: var(--backgroundColour);">
								Cancel
							</button>
							<a id="submitScoreFullscreen" href="../submitSpeed.html" target="_blank"> 
								<button type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="margin-top: 1%; background-color: var(--backgroundColour);">
									Open in new tab
								</button>
							</a>
						</div>
					</div>
				</center>
			<script>
				function ShowFormWindow() 
				{
					document.getElementById("submitBakcgroundScore").style.display = "block";
			  	}				  
			  	function HideFormWindow() 
				{
					document.getElementById("submitBakcgroundScore").style.display = "none";
			  	}
				
				function ShowFormWindowTime() 
				{
					document.getElementById("submitBakcgroundTime").style.display = "block";
			  	}				  
			  	function HideFormWindowTime() 
				{
					document.getElementById("submitBakcgroundTime").style.display = "none";
			  	}
			</script>
		</section>

		<!-- Pictue windiw overlay -->
		<section class="overlays" id="scoreProofWindooOverlay">
			<!-- Proof overlay -->
			<style>
				.proofOverlay
				{
				  position: fixed;
				  display: none;
				  width: 100%;
				  height: 100%;
				  margin: 0 auto;

				  padding: 5%;
				  top: 0;
				  left: 0;
				  right: 0;
				  bottom: 0;
				  background-color: rgba(0,0,0,0.75);
				  z-index: 2;
				  backdrop-filter: blur(16px);
				}
				
				.PicWinContent
				{
					border-radius: 5px;
					margin: auto;
					padding: 0.5%;

					max-width: 950px;
					max-height: 600px;

					width: 100%;
					height:100%;
					
					font-size: 30px;
					color: white;
				  	background-color: #c27301;
				  	z-index: 3;
					
					box-shadow: 4px 4px 16px rgba(0,0,0,1);
				}
				#submitOvrlCancel 
				{
					display: block;
					padding-top: 2%;
				}		
				.WindowButtons
				{
					margin-top: 1%;
				}		
				@media screen and (max-width: 1050px)
				{					
					.PicWinContent
					{
						padding: 1%;
						height:100%;
						
						max-height: 550px;
					}
					#submitOvrlCancel 
					{
						display:block;
						padding-top: 0%;
					}
					.proofOverlay
					{
						padding: 2.5%;
					}
				}
				@media screen and (max-width: 600px)
				{					
					.PicWinContent
					{
						padding: 1.5%;
						height: 100%;
						
						max-height: 300px;
					}
					.proofOverlay
					{
						padding: 2%;
					}
				}
			</style>
			
				<center>
					<!-- Image_window  -->
					<section id="Image_window">
						<div id="picWindow" class="proofOverlay">
							<div class="PicWinContent">
								<img id="scorePic" alt="Picture of the score" src="./pictures/loading.gif" style="object-fit: contain; width: 100%; height:100%; background-color: black;">
							</div>
							<div class="WindowButtons">
								<button type="button" class="btn btn-warning btn-lg ClosePicWindowButton" style="background-color: var(--backgroundColour);" onclick="HidePictureWindow()">
									Close window
								</button>							
								<a id="ScorePicOriginalFile" href="#" target="_blank"> 
									<button type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="background-color: var(--backgroundColour);">
										Open in new tab
									</button>
								</a>
							</div>
						</div>
					</section>
					
					<!-- video_window -->
					<section id="video_window">
						<div id="videoWindow" class="proofOverlay">
							<div class="PicWinContent">
								<video id="scoreVideo" width="100%" height="100%" controls  style="background-color: black;">
									<source src="">
									Your browser does not support the video tag.
								</video>
							</div>
							<div class="WindowButtons">
								<button type="button" class="btn btn-warning btn-lg ClosePicWindowButton" style="background-color: var(--backgroundColour);" onclick="HideVideoWindow()">
									Close window
								</button>							
								<a id="ScoreVideoOriginalFile" href="#" target="_blank"> 
									<button type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="background-color: var(--backgroundColour);">
										Open in new tab
									</button>
								</a>
							</div>
						</div>
					</section> 
					
					<!-- Embed_window -->
					<section id="Embed_window">
						<div id="embedWindow" class="proofOverlay">
							<div class="PicWinContent">
								<iframe id="scoreEbed" src="" style="width: 100%; height: 100%; background-color: black; border:0px"></iframe>
							</div>
							<div class="WindowButtons">
								<button type="button" class="btn btn-warning btn-lg ClosePicWindowButton" style="background-color: var(--backgroundColour);" onclick="HideEmedWindow()">
									Close window
								</button>							
								<a id="ScoreEmbedOriginalFile" href="#" target="_blank"> 
									<button type="button" class="btn btn-warning btn-lg OpenPicInNewWindowButton" style="background-color: var(--backgroundColour);">
										Open in new tab
									</button>
								</a>
							</div>
						</div>
					</section> 
				</center>

			<script>
				// Picture box 
				function ShowPictureWindow(picLink) 
				{
					document.getElementById("picWindow").style.display = "block";

					var imgLink	   = document.getElementById("scorePic");
					var buttonLink = document.getElementById("ScorePicOriginalFile");

					imgLink.src = picLink;
					buttonLink.href = picLink;
			  	}				  
			  	function HidePictureWindow() 
				{
					document.getElementById("picWindow").style.display = "none";
					
					var imgLink = document.getElementById("scorePic");
					var buttonLink = document.getElementById("ScorePicOriginalFile");

					imgLink.src = "./pictures/loading.gif";
					buttonLink.href = "#";
			  	}
			</script>

			<script>
				// Video box 
				function ShowVideoWindow(picLink) 
				{
					document.getElementById("videoWindow").style.display = "block";

					var imgLink = document.getElementById("scoreVideo");
					var buttonLink = document.getElementById("ScoreVideoOriginalFile");

					imgLink.src = picLink;
					buttonLink.href = picLink ;
			  	}				  
			  	function HideVideoWindow() 
				{
					document.getElementById("videoWindow").style.display = "none";
					
					var imgLink    = document.getElementById("scoreVideo");
					var buttonLink = document.getElementById("ScoreVideoOriginalFile");

					imgLink.src = "";
					buttonLink.href = "#";
			  	}
			</script>

			<script>
				// Embed box 
				function ShowEmbedWindow(picLink) 
				{
					document.getElementById("embedWindow").style.display = "block";

					var imgLink = document.getElementById("scoreEbed");
					var buttonLink = document.getElementById("ScoreEmbedOriginalFile");

					imgLink.src = picLink;
					buttonLink.href = picLink ;
			  	}				  
			  	function HideEmedWindow() 
				{
					document.getElementById("embedWindow").style.display = "none";
					
					var imgLink = document.getElementById("scoreEbed");
					var buttonLink = document.getElementById("ScoreEmbedOriginalFile");

					imgLink.src = "";
					buttonLink.href = "#";
			  	}
			 </script>
		</section> <!-- scoreProofWindooOverlay -->

	</body>
</html>
