#imageViewWindowSection
{
	position: fixed;
	top: 0;
	height: 100svh;
	width: 100svw;
	margin: 0px;

	/* display: none; */
}

#windowOverlayBlur
{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;

	backdrop-filter: blur(20px);
}

#windowContent
{
	position: relative;
	margin: auto;

	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-content: center;
	align-items: center;

	height: 90%;
	width: 90%;
	max-width: 1600px;

	top: 50%;
	transform: translateY(-50%);

	/* background-color: white; */
}

.windowColumn
{
	height: 100%;
	width: 100%;
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
}
#windowLeftColumn, 
#windowRightColumn
{
	display: flex;
	align-items: baseline;
	justify-content: stretch;
	font-size: 4rem;
	color: gray;
	width: 60px;
	/* background-color: yellow; */
	flex-direction: column;
}

#windowMiddleColumn
{
    background-color: black;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    min-width: 0;
    min-height: 0;
}
#imageDiv
{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 0;
    overflow: hidden;
}

#detailsDiv
{
    flex: 0 0 auto;
    padding: 10px;
	padding-bottom: 20px;
	color: white;
	background-color: #20152b;
	width: 100%;
}

#windowImageElem
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#imageNameSpan
{
	font-weight: 600;
	font-size: 1.5rem;
}

.windowNavDivTop
{
	max-height: 50px;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	/* background-color: red; */
	display: flex;		
	align-items: baseline;	
  	justify-content: center;
	padding-top: 10px;
}
.windowNavDivBottom
{
	width: 100%;
	height: 100%;
	/* margin-bottom: 60px; */
	/* background-color: green;	 */
	display: flex;		
	align-items: center;
  	justify-content: center;
}

#windowCloseButtonDiv:hover,
#windowNavRight:hover,
#windowNavLeft:hover
{
	color: white;
	cursor: pointer;
	opacity: 1;
}
#windowNavLeft
{
	margin-bottom: 60px;
}

.windowImgIcon
{
	width: 25px;
	height: auto;	
	opacity: 0.5;
}
.windowImgIcon:hover
{
	transform: scale(150%);	
	opacity: 1;
}

#windowNavArrowRight,
#windowNavArrowLeft
{
	width: 40px;
}
#windowNavArrowLeft
{
	transform: rotate(180deg);
}
#windowNavArrowLeft:hover
{
	transform: rotate(180deg) scale(150%);
}
#windowDownloadImg
{
	width: 40px;
}
#windowDownloadButtonDiv
{
	/* display: grid;
	align-items: baseline;	 */
}