:root
{
    --backgroundColourTransparent:  rgba(255, 255, 255, 0.55); 
    --backgroundColourOpaque: rgba(255, 255, 255, 0.95); 
    
    --windowMainColourTop: #c27301;
    --windowMainColourBottom: orange;
    
    --buttonColour1: #ffa500;
    --buttonColour2: #ffc107;

    --shadowColour: rgba(0,0,0,1);
    
    --whiteColour1: white;
    --whiteColour2: rgba(225,225,225, 1.0);
    --customOrange: #ba8303;
}

body
{
    background: url("../img/backgrounds/Overworld.jpg") no-repeat center center fixed;
    background-size: cover;

    /* font-family: 'Times New Roman', Times, serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
a
{
    color: var(--windowMainColourTop);
    text-decoration: none;
}
a:link 
{
    color: var(--windowMainColourTop);
    text-decoration: none;
}
a:visited 
{
    color: var(--windowMainColourTop);
    text-decoration: none;
}

/* 
    VARIOUS GLOBAL PROPERTIES
*/
.centerHorizontal
{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.centerVertical
{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
.btn_orangeGradient
{
    background: linear-gradient(to bottom, var(--buttonColour1), var(--buttonColour2));
    border: 1px var(--customOrange) solid;
}
.dropShadow
{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.whiteGradient
{
    background: linear-gradient(to bottom, var(--whiteColour1), var(--whiteColour2));
    border: 1px var(--customOrange) solid;
}

/* 
    Page background
*/
#mainPageContainerBack
{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}
#mainPageContainerFront
{
    background: var(--backgroundColourTransparent);
    backdrop-filter: blur(8px);

    padding: 10px;
    padding-top: 20px;

    margin-top: 25px;
    margin-bottom: 25px;
    
    box-shadow: 0px 0px 8px var(--shadowColour);
}

/* 
    PAGE HEADER
*/
header
{
    text-align: center;
}
#pageNameText
{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.gameLinksBtn
{
    font-weight: bold;
    
    padding: 15px;
    padding-top: 15px;
    padding-top: 7px;
    
    padding-bottom: 7px;
    margin-bottom: 7px;
}

/* 
    CATEGORY BUTTONS 
*/

#SubmitButtonText
{
    font-weight: bold;
}

#categoryButtonsWrapper
{
    display: grid;
    grid-template-columns: 3fr 1fr;

    width: 100%;
}
#categoryButtons
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    
    width: 100%;
    margin-bottom: 10px;

    max-width: 450px;
}
.levelsToggleButtons
{
    display: none; /* DEFAULT: Grid */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    
    width: 100%;
    margin-bottom: 10px;

    max-width: 450px;
}
#scoreLevelsToggle
{
    display: grid;
}
#demoLevelsToggle
{
    grid-template-columns: repeat(3,1fr);
}

.categoryToggleText
{
    font-weight: bold;
}
.levelToggleText
{
    font-weight: bold;
}

#submissionButtonCell
{
    text-align: right;
}

/* 
    LEADERBOARDS
*/

.tableRow:hover
{
	background: linear-gradient(to bottom,var(--whiteColour2),var(--whiteColour1)) !important;
	color: var(--windowMainColourTop);
    cursor: pointer;
}
.tableRow:active
{
	color: var(--windowMainColourBottom);
}
.positionColumn
{
    font-weight: bold;
}

#lbLoadImage
{
    /* max-width: 300px; */
    width: 32%;
    height: auto;
    margin: 15px;
}
#LBtableMain
{
    text-align: center;
}
#LBtableHead
{
    font-weight: bold;
}
#leaderboardNameText
{
    line-height: 55px;
    font-weight: bold;
    font-size: 1.75rem;
}

.th_DaarkGradient
{
    background: linear-gradient(to bottom, black, #24272b) !important;
    color: white !important;
    border: 1px solid black !important;
}
.tBody_WhoteGradient
{
    background: linear-gradient(to bottom, var(--whiteColour2), var(--whiteColour1));
}

.nameColumn
{
    text-align: left;
}

/* 
    FOOTER
*/
footer 
{
    font-weight: bold;
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}

/* 
    OLD TABLES
*/
#tableName
{
    line-height: 55px;
    font-weight: bold;
    font-size: 1.75rem;
}
.demoArchiveTitle
{
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
}