<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuroFurence 1</title>
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/layouts//listSmall.css">

    <script src="/ef/archive/scripts/pageBuilder.js"></script>
</head>
<body>
    <noscript>
        <strong><center>Javascript is disabled. Thumbnail view is not available. <button><a href="/index.html">Return to Homepage</a></button></center></strong>
    </noscript>
    
    <div class="boxShadow04" id="masterDiv">
        <h1>EuroFurence 1</h1>
        <hr>

        <div id="imageLinksListDiv">
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/efjam.gif" class="imageLink"> efjam.gif </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/efbrush.gif" class="imageLink"> efbrush.gif </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp1.jpg" class="imageLink"> ef1_Ron W Klemp1.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp10.jpg" class="imageLink"> ef1_Ron W Klemp10.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp11.jpg" class="imageLink"> ef1_Ron W Klemp11.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp13.jpg" class="imageLink"> ef1_Ron W Klemp13.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp14.jpg" class="imageLink"> ef1_Ron W Klemp14.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp2.jpg" class="imageLink"> ef1_Ron W Klemp2.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp3.jpg" class="imageLink"> ef1_Ron W Klemp3.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp4.jpg" class="imageLink"> ef1_Ron W Klemp4.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp5.jpg" class="imageLink"> ef1_Ron W Klemp5.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp6.jpg" class="imageLink"> ef1_Ron W Klemp6.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp7.jpg" class="imageLink"> ef1_Ron W Klemp7.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp8.jpg" class="imageLink"> ef1_Ron W Klemp8.jpg </a> </li>
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/ef1_Ron W Klemp9.jpg" class="imageLink"> ef1_Ron W Klemp9.jpg </a> </li>            
            <li class="imagesList"> <a href="/ef/archive/assets/EF1/tigress.com/Heribert Vogt - ef1.png" class="imageLink"> Heribert Vogt - ef1.png </a> </li>            
        </div>

        <hr>
        <h3>Images taken from:</h3>
        <ul>
            <li><a href="https://web.archive.org/web/*/www.furcon.de*" target="_blank">furcon.de</a> and <a href="https://web.archive.org/web/*/media.furcon.de*" target="_blank">media.furcon.de </a></li>
           <li><a href="/ef/archive/assets/EF1/tigress.com/EF1 Photos by Raschkar (25. 5. 2026 16：59：04).html">tigress.com/cheetah/ef1_heri</a></li>
           <li><a href="/ef/archive/assets/EF1/tigress.com/EF1 Photos by RWK (25. 5. 2026 16：58：32).html">tigress.com/cheetah/ef1_rwk</a></li>
        </ul>
    </div>
    
    <script>
        CompilePage();
    </script>
</body>
</html>