<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuroFurence 11</title>
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/layouts//listSmall.css">

    <script src="/ef/archive/scripts/pageBuilder.js"></script>
</head>
<body>
    <noscript>
        <strong><center>Javascript is disabled. Thumbnail view is not available. <button><a href="/index.html">Return to Homepage</a></button></center></strong>
    </noscript>
    
    <div class="boxShadow04" id="masterDiv">
        <h1>EuroFurence 11</h1>
        <hr>

        <div id="imageLinksListDiv">
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Angus EFXI 01 22.jpg" class="imageLink"> ef11 Angus EFXI 01 22.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Arakin PICT2251.JPG" class="imageLink"> ef11 Arakin PICT2251.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Arakin PICT2261.JPG" class="imageLink"> ef11 Arakin PICT2261.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Arakin PICT2295.JPG" class="imageLink"> ef11 Arakin PICT2295.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 KingSimba DCAM0086.JPG" class="imageLink"> ef11 KingSimba DCAM0086.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 MadBrook   IMG 2189 .JPG" class="imageLink"> ef11 MadBrook   IMG 2189 .JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 MadBrook IMG 2189.JPG" class="imageLink"> ef11 MadBrook IMG 2189.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 MadBrook IMG 2407.JPG" class="imageLink"> ef11 MadBrook IMG 2407.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Mooie PICT1283.JPG" class="imageLink"> ef11 Mooie PICT1283.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Mooie PICT1307.JPG" class="imageLink"> ef11 Mooie PICT1307.JPG </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Ralesk IMG 1854.jpg" class="imageLink"> ef11 Ralesk IMG 1854.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Ralesk IMG 2003.jpg" class="imageLink"> ef11 Ralesk IMG 2003.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF11/furcon.de/ef11 Tioh DSC07298.JPG" class="imageLink"> ef11 Tioh DSC07298.JPG </a> </li>            
        </div>

        <hr>

        <div class="divColumns2" id="">
            <div class="" id="seeMoreLinksDiv">
                <h3>Browse more:</h3>
                <ul>
                    <li><a href="https://fursuit.timduru.org/view/FurryCon/EuroFurence/EF11">Timduru"s fursuit archive - pictures</a></li>
                    <li><a href="https://fursuit.timduru.org/view/FursuitVideo/FurryCon/Eurofurence/EF11">Timduru"s fursuit archive - videos</a></li>
                </ul>
            </div>

            <div class="" id="imageSourcesDiv">
                <h3>Images taken from:</h3>
                <ul>
                    <li><a href="https://web.archive.org/web/*/www.furcon.de*" target="_blank">furcon.de</a> and <a href="https://web.archive.org/web/*/media.furcon.de*" target="_blank">media.furcon.de </a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <script>
        CompilePage();
    </script>    
</body>
</html>