<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuroFurence 12</title>
    
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/layouts//listSmall.css">
    <link rel="stylesheet" href="../styles/overlays.css">   

    <script src="../scripts/pageBuilder.js"></script>
    <script src="../scripts/ImageViewer.js"></script>
    <script src="../scripts/pageOptions.js"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" 
            integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
            crossorigin="anonymous"></script>
</head>
<body>
    <noscript>
        <strong><center>Javascript is disabled. Thumbnail view is not available. <button><a href="../index.html" rel="noopener noreferrer" style="color: black; font-weight: bold;">Return to Homepage</a></button></center></strong>
    </noscript>
    
    <div class="boxShadow04" id="masterDiv">
        <h1>EuroFurence 12</h1>
        <hr>

        <div id="imageLinksListDiv">
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 BooCub S4010651.jpg" class="imageLink" rel="noopener noreferrer"> ef12 BooCub S4010651.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Dolan DSCI1175.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Dolan DSCI1175.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 FurbleFox P8260208.jpg" class="imageLink" rel="noopener noreferrer"> ef12 FurbleFox P8260208.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 J.C. Fox  EF 12 091 .jpg" class="imageLink" rel="noopener noreferrer"> ef12 J.C. Fox  EF 12 091 .jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Keenora ef12 kee 200.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Keenora ef12 kee 200.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Lone Wolf  EF2006-032 .jpg" class="imageLink" rel="noopener noreferrer"> ef12 Lone Wolf  EF2006-032 .jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie   PICT3190 .jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie   PICT3190 .jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3171.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3171.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3176.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3176.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3177.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3177.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3190.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3190.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3218.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3218.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3266.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3266.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3321.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3321.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3323.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3323.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3324.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3324.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3325.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3325.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3326.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3326.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3328.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3328.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3329.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3329.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3339.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3339.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3343.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3343.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Mooie PICT3349.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Mooie PICT3349.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/furcon.de/ef12 Rusty Fox P8230017.jpg" class="imageLink" rel="noopener noreferrer"> ef12 Rusty Fox P8230017.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00355.jpg" class="imageLink" rel="noopener noreferrer"> dsc00355.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00361.jpg" class="imageLink" rel="noopener noreferrer"> dsc00361.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00413.jpg" class="imageLink" rel="noopener noreferrer"> dsc00413.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00415.jpg" class="imageLink" rel="noopener noreferrer"> dsc00415.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00421.jpg" class="imageLink" rel="noopener noreferrer"> dsc00421.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00440.jpg" class="imageLink" rel="noopener noreferrer"> dsc00440.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00453.jpg" class="imageLink" rel="noopener noreferrer"> dsc00453.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00460.jpg" class="imageLink" rel="noopener noreferrer"> dsc00460.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00466.jpg" class="imageLink" rel="noopener noreferrer"> dsc00466.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00474.jpg" class="imageLink" rel="noopener noreferrer"> dsc00474.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00475.jpg" class="imageLink" rel="noopener noreferrer"> dsc00475.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00479.jpg" class="imageLink" rel="noopener noreferrer"> dsc00479.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00485.jpg" class="imageLink" rel="noopener noreferrer"> dsc00485.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00497.jpg" class="imageLink" rel="noopener noreferrer"> dsc00497.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00499.jpg" class="imageLink" rel="noopener noreferrer"> dsc00499.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00506.jpg" class="imageLink" rel="noopener noreferrer"> dsc00506.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00511.jpg" class="imageLink" rel="noopener noreferrer"> dsc00511.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00515.jpg" class="imageLink" rel="noopener noreferrer"> dsc00515.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00524.jpg" class="imageLink" rel="noopener noreferrer"> dsc00524.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00529.jpg" class="imageLink" rel="noopener noreferrer"> dsc00529.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00530.jpg" class="imageLink" rel="noopener noreferrer"> dsc00530.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00547.jpg" class="imageLink" rel="noopener noreferrer"> dsc00547.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00550.jpg" class="imageLink" rel="noopener noreferrer"> dsc00550.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00552.jpg" class="imageLink" rel="noopener noreferrer"> dsc00552.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00653.jpg" class="imageLink" rel="noopener noreferrer"> dsc00653.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00654.jpg" class="imageLink" rel="noopener noreferrer"> dsc00654.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00681.jpg" class="imageLink" rel="noopener noreferrer"> dsc00681.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00706.jpg" class="imageLink" rel="noopener noreferrer"> dsc00706.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00737.jpg" class="imageLink" rel="noopener noreferrer"> dsc00737.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00771.jpg" class="imageLink" rel="noopener noreferrer"> dsc00771.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00813.jpg" class="imageLink" rel="noopener noreferrer"> dsc00813.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00830.jpg" class="imageLink" rel="noopener noreferrer"> dsc00830.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00838.jpg" class="imageLink" rel="noopener noreferrer"> dsc00838.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00855.jpg" class="imageLink" rel="noopener noreferrer"> dsc00855.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00856.jpg" class="imageLink" rel="noopener noreferrer"> dsc00856.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00868.jpg" class="imageLink" rel="noopener noreferrer"> dsc00868.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00878.jpg" class="imageLink" rel="noopener noreferrer"> dsc00878.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00972.jpg" class="imageLink" rel="noopener noreferrer"> dsc00972.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00979.jpg" class="imageLink" rel="noopener noreferrer"> dsc00979.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc00991.jpg" class="imageLink" rel="noopener noreferrer"> dsc00991.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01015.jpg" class="imageLink" rel="noopener noreferrer"> dsc01015.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01017.jpg" class="imageLink" rel="noopener noreferrer"> dsc01017.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01022.jpg" class="imageLink" rel="noopener noreferrer"> dsc01022.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01042.jpg" class="imageLink" rel="noopener noreferrer"> dsc01042.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01060.jpg" class="imageLink" rel="noopener noreferrer"> dsc01060.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01094.jpg" class="imageLink" rel="noopener noreferrer"> dsc01094.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01134.jpg" class="imageLink" rel="noopener noreferrer"> dsc01134.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01194.jpg" class="imageLink" rel="noopener noreferrer"> dsc01194.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01214.jpg" class="imageLink" rel="noopener noreferrer"> dsc01214.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01237.jpg" class="imageLink" rel="noopener noreferrer"> dsc01237.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01336.jpg" class="imageLink" rel="noopener noreferrer"> dsc01336.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01426.jpg" class="imageLink" rel="noopener noreferrer"> dsc01426.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01472.jpg" class="imageLink" rel="noopener noreferrer"> dsc01472.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01492.jpg" class="imageLink" rel="noopener noreferrer"> dsc01492.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01642.jpg" class="imageLink" rel="noopener noreferrer"> dsc01642.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01688.jpg" class="imageLink" rel="noopener noreferrer"> dsc01688.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01749.jpg" class="imageLink" rel="noopener noreferrer"> dsc01749.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01755.jpg" class="imageLink" rel="noopener noreferrer"> dsc01755.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01805.jpg" class="imageLink" rel="noopener noreferrer"> dsc01805.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/dsc01843.jpg" class="imageLink" rel="noopener noreferrer"> dsc01843.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/nurem1.jpg" class="imageLink" rel="noopener noreferrer"> nurem1.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3178.jpg" class="imageLink" rel="noopener noreferrer"> pict3178.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3203.jpg" class="imageLink" rel="noopener noreferrer"> pict3203.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3225.jpg" class="imageLink" rel="noopener noreferrer"> pict3225.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3232.jpg" class="imageLink" rel="noopener noreferrer"> pict3232.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3258.jpg" class="imageLink" rel="noopener noreferrer"> pict3258.jpg </a> </li>
            <li class="imagesList"> <a href="../assets/EF12/sonix.dk/pict3267.jpg" class="imageLink" rel="noopener noreferrer"> pict3267.jpg </a> </li>            
        </div>

        <hr>

        <div class="divColumns2" id="browseMoreAndSourcesDiv">
            <div class="" id="seeMoreLinksDiv">
                <h3>Browse more:</h3>
                <ul>
                    <li><a href="https://fursuit.timduru.org/view/FurryCon/EuroFurence/EF12" rel="noopener noreferrer">Timduru"s fursuit archive - pictures</a></li>
                    <li><a href="https://fursuit.timduru.org/view/FursuitVideo/FurryCon/Eurofurence/EF12" rel="noopener noreferrer">Timduru"s fursuit archive - videos</a></li>
                </ul>
            </div>

            <div class="" id="imageSourcesDiv">
                <h3>Images taken from:</h3>
                <ul>
                    <li><a href="https://web.archive.org/web/*/www.furcon.de*" target="_blank" rel="noopener noreferrer">furcon.de</a> and <a href="https://web.archive.org/web/*/media.furcon.de*" target="_blank" rel="noopener noreferrer">media.furcon.de </a></li>
                    <li><a href="../assets/EF12/sonix.dk/SONIX.DK ｜ Sure I'm weird, but I'm the fun harmless kind of weird (25. 5. 2026 22：00：09).html" rel="noopener noreferrer">sonix.dk/?page=gallery&album=Eurofurence_2006 </a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <script>
        BuildPage();
    </script>    
</body>
</html>