<!DOCTYPE html>
<!--
	W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉
			
		Created by GhostMiner, June-August 2023.
		> Ghost-Miner.Github.io,
		> YouTube.com/GhostMinerMC
			
-->
<html lang="en">
    <head>
		<title>Thronefall leaderboard</title>
		<link rel="shortcut icon" type="image/jpg" href="./img/crown.png">

        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <!-- Page meta infromation -->
		<meta name="description" content="An unofficial leaderboard for high-scores and speed-runs of Thronefall.">
		<meta name="keywords" content="Thronefall, leaderBoard, grizzly games, speedrun">
		<meta name="language" content="en">
		<meta name='robots' content="index,follow">
		<meta name='author' content="GhostMiner">
        
        <!-- htmx -->
        <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

        <!-- Bootstrap 4 CSS library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Custom CSS stylesheets and libraries -->
        <link rel="stylesheet" href="./styles/global.css">
        <link rel="stylesheet" href="./styles/overlays.css">

        <!-- Scripts -->
        <script src="./scripts/pageOptions.js"></script>
        <script src="./scripts/lbOptions.js"></script>

        <script src="./scripts/parser.js"></script>
        <script src="./scripts/processScores.js"></script>
        <script src="./scripts/parser.js"></script>
    </head>

    <body>
        <div id="mainPageContainerBack">
            <div id="mainPageContainerFront">
                <!-- 
                    PAGE TITLE AND GAME LINK BUTTONS
                 -->
                <header>
                    <section id="pageTitle">
                        <img src="./img/crown.png" id="pageLogo">
                        <br>
                        <span id="pageNameText"> Thronefall leaderboard </span>
                    </section>
                    <hr>
                    <section id="gmaeLinks">
                        <a href="https://store.steampowered.com/app/2239150/Thronefall" id="gl_steamPage" target="_blank">
                            <button type="button" class="btn gameLinksBtn btn-warning dropShadow whiteGradient">
                                Get Thronefall
                            </button>
                        </a>
                        <a href="https://discord.gg/gVYctptyg8" id="gl_Discord" target="_blank">
                            <button type="button" class="btn gameLinksBtn btn-warning dropShadow whiteGradient">
                                Discord server
                            </button>
                        </a>
                        <a href="https://www.youtube.com/playlist?list=PLgsD7taGtaBhNaErAOaiEiTzt6-lOpVp0" id="gl_Devlogs" target="_blank">
                            <button type="button" class="btn gameLinksBtn btn-warning dropShadow whiteGradient">
                                Devlogs
                            </button>
                        </a>

                        <a href="https://throne-fall.github.io" id="gl_Wiki" target="_blank">
                            <button type="button" class="btn gameLinksBtn btn-warning dropShadow whiteGradient" style="margin-left: 10px;">
                                Thronefall wiki
                            </button>
                        </a>
                    </section>
                </header>
                <hr>
                <!-- 
                    CATEGORY BUTTONS
                 -->
                <nav>
                    <div id="categoryButtonsWrapper">
                        <div id="categoryButtonsMain">
                            <!-- CATEGORY -->
                            <div id="categoryButtons">
                                <button class="btn btn-warning dropShadow whiteGradient" id="scoreCategoryButton" type="button" onclick="SelectRandomBackground(1); ChangeCategory('score')">
                                    <span class="categoryToggleText"> High-scores </span>
                                </button>
                                <button class="btn btn-warning dropShadow whiteGradient" id="timeCategoryButton" type="button" onclick="SelectRandomBackground(2); ChangeCategory('time')" 
                                        hx-get="./leaderboards/time/nl.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                    <span class="categoryToggleText"> Speed-runs </span>
                                </button>	
                                <button class="btn btn-warning dropShadow whiteGradient" id="demoCategoryButton" type="button" onclick="SelectRandomBackground(1); ChangeCategory('demo')" 
                                        hx-get="./leaderboards/demo/nl-score.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                    <span class="categoryToggleText"> Demo version </span>
                                </button>
                            </div> <!-- categoryButtons -->

                            <!-- LEVELS -->
                            <div id="levelsButtons">
                                <section id="scoreLevelsToggle" class="levelsToggleButtons">
                                    <button type="button"class="btn btn-warning btn_orangeGradient dropShadow" id="nl_score_btn" 
                                            onclick="SelectRandomBackground(1); ChangeTableData('Neuland')" >
                                        <span class="levelToggleText"> Neuland </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nf_score_btn" 
                                            onclick="SelectRandomBackground(2); ChangeTableData('Nordfels')">
                                        <span class="levelToggleText"> Nordfels </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="ds_score_btn" 
                                            onclick="SelectRandomBackground(3); ChangeTableData('Durststein')">
                                        <span class="levelToggleText"> Durststein </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="fs_score_btn" 
                                            onclick="SelectRandomBackground(4); ChangeTableData('Frostsee')">
                                        <span class="levelToggleText"> Frostsee </span>
                                    </button>	
                                </section> <!-- scoreLevelsToggle -->

                                <section id="timeLevelsToggle" class="levelsToggleButtons">
                                    <!--
                                        S P E E D   R U N S 
                                    -->
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nl_time_btn" onclick="SelectRandomBackground(1);"
                                            hx-get="./leaderboards/time/nl.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Neuland </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nf_time_btn" onclick="SelectRandomBackground(2);"
                                            hx-get="./leaderboards/time/nf.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Nordfels </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="ds_time_btn" onclick="SelectRandomBackground(3);"
                                            hx-get="./leaderboards/time/ds.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Durststein </span>
                                    </button>								
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="fs_time_btn" onclick="SelectRandomBackground(4);"
                                            hx-get="./leaderboards/time/fs.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Frostsee </span>
                                    </button>	
                                </section> <!-- timeLevelsToggle -->

                                <section id="demoLevelsToggle" class="levelsToggleButtons">
                                    <!--
                                        D E M O   A R C H I V E
                                    -->
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nl_score_demo_btn" onclick="SelectRandomBackground(1);" 
                                            hx-get="./leaderboards/demo/nl-score.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Neuland </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nf_score_demo_btn" onclick="SelectRandomBackground(2);" 
                                            hx-get="./leaderboards/demo/nf-score.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML">
                                        <span class="levelToggleText"> Nordfels </span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn_orangeGradient dropShadow" id="nl_time_demo_btn" onclick="SelectRandomBackground(1);" 
                                            hx-get="./leaderboards/demo/time.html" hx-target="#oldLeaderBoards" hx-swap="innerHTML" >
                                        <span class="levelToggleText"> Speed-runs </span>
                                    </button>
                                </section> <!-- demoLevelsToggle -->
                            </div> <!-- levelsButtons -->
                        </div> <!-- categoryButtonsMain -->

                        <div id="submissionButtonCell">
                            <button type="button" onclick="OpenSubWindow()" class="btn btn-warning btn_orangeGradient btn-lg dropShadow centerVertical">
                                <span id="SubmitButtonText">SUBMIT</span>
                            </button>
                        </div> <!-- submissionButtonCell -->
                    </div> <!-- categoryButtonsWrapper -->
                </nav>
                <!-- 
                    LEADERBOARDS
                 -->
                <main>
                    <section id="leaderBoards">
                        <div id="leaderBoardMain">
                            <section id="LBLoadingIndicator">
                                <img src="./img/loading edit.gif" id="lbLoadImage" class="centerHorizontal">
                            </section> <!-- LBLoadingIndicator -->
                            <section id="leaderboardContent" style="display: none;">
                                <span id="leaderboardNameText">*table name*</span>
                                <table class="table table-striped" id="LBtableMain">
                                    <thead class="table-dark th_DaarkGradient" id="LBtableHead">
                                        <tr>
                                            <td class="th-position positionColumn 1">#		 </td>
                                            <td class="th-name nameColumn 2">		 Name	 </td>
                                            <td class="th-score scoreColumn 3">		 Score	 </td>
                                            <td class="th-coins coinsColumn 4">		 Gold	 </td>
                                            <td class="th-mutNums mutatorsColumn 5"> Mutators</td>
                                            <td class="th-usedWeapon weaponColumn 7">Used&nbsp;weapon</td>
                                            <td class="th-version versionColumn 8">	 Version </td>
                                            <td class="th-date dateColumn 9">		 Date	 </td>
                                        </tr>
                                    </thead>
                                    <tbody class="tBody_WhoteGradient table-light" id="LBtableBody" >
                                        <tr class="tableRow">
                                            <td class="position positionColumn 1">...</td>
                                            <td class="name nameColumn 2">		  ...</td>
                                            <td class="score scoreColumn 3">	  ...</td>
                                            <td class="coins coinsColumn 4">	  ...</td>
                                            <td class="mutNums mutatorsColumn 5"> ...</td>
                                            <td class="usedWeapon weaponColumn 7">...</td>
                                            <td class="version versionColumn 8">  ...</td>
                                            <td class="date dateColumn 9">		  ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section> <!-- leaderboardContent -->
                        </div> <!-- leaderBoardMain -->
                        <div id="oldLeaderBoards">
                            <!-- Old leaderboards inserted by HTMX -->
                        </div> <!-- oldLeaderBoards -->
                    </section> <!-- leaderBoards -->
                </main>
                <!-- 
                    FOOTER
                 -->
                <footer>
                    Leaderboard page made by GhostMiner. v.2.3 (12/09/2023) |
                    <a href="https://ghost-miner.github.io/">Website</a>, 
                    <a href="http://youtube.com/ghostMinerMC">Youtube</a>, 
                    <a href="https://discord.gg/DjUBY9h">Discord</a>
                </footer>
            </div> <!-- mainPageContainerFront -->
        </div> <!-- mainPageContainerBack -->

        <script>
            SpawnTableRows();
            GetSubData();
        </script>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





        <section id="overlayWindow">
            <div id="overlayBlur">
                <div id="windowBakcground">
                    <div id="windowForeground">
                        <div id="windowTitleBar">
                            <div class="titleBarCell" id="titleBarText">
                                New submission
                            </div>
                            <div class="titleBarCell" id="titleBarClose">
                                <img src="./img/cross white.png" id="windowTitleBarCloseImage" onclick="CloseSubmitWindow()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>