/* 
    G E N E R AL 
*/
:root 
{
    --baackgroundColour:  rgba(245, 245, 245, 0.65);
    --foregroundColour:   rgba(111, 255, 75, 0.75); 
    --darkGreen: #072f0a;

    --containerSpacing: 10px;
    --borderRadius: 5px;
}
a:link 
{
    color: var(--darkGreen);
    text-decoration: none;
}
a:visited 
{
    color: var(--darkGreen);
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
body
{
    background-image: url("../img/bgr.jpg"); 
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-color: #1c2d0c;
}

#mainPageContainerBack
{
    max-width: 1000px;
    margin: 25px auto;
    padding: var(--containerSpacing);

    background-color: var(--baackgroundColour);
}
#mainPageContainerFront
{
    border-radius: var(--borderRadius);
}

.greenBakcground
{
    background-color: var(--foregroundColour);
}
.roundCorners
{
    border-radius: var(--borderRadius);
}

.contentBox
{
    background-color: var(--foregroundColour);
    border-radius: var(--borderRadius);
    padding: 10px;    
}
.containerTitle
{
    font-weight: 501;
    text-decoration: overline;
    font-size: 1.75rem;
}

/*
    HEADER
*/
#pageTtleGridWrapper
{
    display:grid;
    grid-template-columns: 10% 90%;
    padding: 10px;
}
#pageLogoImage
{
    width: 100%;
    max-width: 75px;
}
#pageTitleText
{
    font-weight: 501;
    font-size: 2rem;
}
#pageTitleDiv
{
    align-items: center;
    display: flex;
    margin-top: -5px;
}

/*
    MENU
*/
#menuGridWrapper
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 7px;
    margin-left: -10px;
    max-width: 320px;

    font-weight: bold;
    font-size: 1.32rem;
}

/*
    FEATURED PROJECTS
*/
#featuredProjectsGridWrapper
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.featuredProjectsImage
{
    width: 100%;
    max-width: 150px;
}

/*
    FEATURED AND REOCMMENEDED VIDEOS
*/

/* FEATURED VIDEO */
#featuredVideoEmbed
{
    width: 100%;
    height: 100%;
}

/* RECOMMENDED VIDEO */
#videosBox
{
    display: grid;
    grid-template-columns: 66% 33%;
}