@media screen and (max-width: 950px)
{
    #videosDiv
    {
        grid-template-columns: 1fr;
    }
    #aboutAndSocialsDiv
    {
        grid-template-columns: 1fr;
    }
    #featuYTvide
    {
        width: 100%;
    }
}