<!DOCTYPE html>
<!--W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉-->
<html lang="en">
    <head>
        <!-- PAGE TITLE -->
        <title> *mapName* | Thronefall wiki</title>
        <!-- PAGE INFORMATION -->
		<meta name="description" content="Details about the Uferwind level">
		<meta name="keywords"    content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name='author'      content="GhostMiner, ItsMeRaven"> 
		<meta name='robots'      content="index,follow">
		<meta name="language"    content="en">

        <link rel="shortcut icon" type="image/png" href="/tfwiki/assets/images/crown.png"> <!-- Tab icon-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Responsive design-->
        <meta charset="utf-8"> <!-- Chatracter set-->

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
        <!-- BOOTSTRAP 5 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="/tfwiki/assets/styles/global.css">
        <link rel="stylesheet" href="/tfwiki/assets/styles/headfoot.css">
        <link rel="stylesheet" href="/tfwiki/assets/styles/navigation.css">
        <link rel="stylesheet" href="/tfwiki/assets/styles/layouts/article.css">
        <!-- Contents menu scriptx -->
        <script src="/tfwiki/assets/scripts/contentsMenu.js"></script>
    </head>

    <body>        
        <div id="mainContainerBackground" class="roundCorners5px boxShadow1">
            <div id="mainContainerForeground">
                <div id="sidebarContainer">
                    <!-- Website title and logo -->
                    <div id="websiteHeader" hx-get="/tfwiki/assets/parts/header.html" hx-swap="innerHTML" hx-trigger="load"></div> 
                    <hr>
                    <!-- Website navigation -->
                    <div id="navigation" hx-get="/tfwiki/assets/parts/nav.html" hx-swap="innerHTML" hx-trigger="load"></div>
                </div> <!-- sidebarContainer -->
                <div id="contentContainer" class="roundCorners5px boxShadow032"> 
                    <main>
                        <span class="pageTitle"> *mapName* </span>
                        <hr class="pageTitleUnderline">
                        
                        <div class="articleColumnsContainer">
                            <!-- 
                                LEFT COLUMN
                            -->
                            <div class="articleContent">
                                <article id="Overview">
                                    <span class="pageSubtitle">Overview</span>
                                    <hr>
                                    
                                    *content*
                                </article> <!-- mapOverview -->

                                <br>
                                <article id="MapComposition">
                                    <span class="pageSubtitle"> Map composition </span>
                                    <hr>
                                    
                                    *content*
                                </article> <!-- mapComposition -->

                                <br>
                                <article id="MapDetails">
                                    <span class="pageSubtitle"> Map details </span>
                                    <hr>
                                    <article id="Quests">
                                        <span class="pageSubtitleSmall"> Quests </span>
                                        <br>
                                    
                                        *content*
                                    </article> <!-- quests -->

                                    <br>
                                    <article id="SpawnedEnemies">
                                        <span class="pageSubtitleSmall"> Spawned enemies </span>
                                        <br>
                                    
                                        *content*
                                    </article> <!-- spawnedEnemies -->
                                    
                                    <br>
                                    <article id="AvailableBuildings">
                                        <span class="pageSubtitleSmall"> Available buildings </span>
                                        <br>
                                    
                                        *content*
                                    </article> <!-- availableBuildings -->
                                </article> <!-- mapDetails-->

                                <br>
                                <article id="Gallery">
                                    <span class="pageSubtitle"> Gallery </span>
                                    <hr>

                                    <div class="articleGalleryContainer">
                                        <div class="articleImageBackgroundDiv boxShadow04">
                                            <a href="" target="_blank" class="articleImageLink">
                                                <img class="articleGalleryImage" src="">
                                            </a>
                                            <br>
                                            <span class="articleImageTitle">
                                                *image desciption*
                                            </span>
                                        </div>
                                    </div>
                                </article> <!-- gallery -->
                            </div> <!-- articleContent -->

                            <!-- 
                                RIGHT COLUMN
                            -->
                            <div class="articleSidebar">
                                <section id="contentsBox" hx-get="/tfwiki/assets/parts/contents/maps.html" hx-swap="outerHTML" hx-trigger="load"></section>
                            
                                <div class="articleImageBackgroundDiv boxShadow04">
                                    <a href="" target="_blank" class="articleImageLink">
                                        <img class="articleImage" src="">
                                    </a>
                                    <br>
                                    <span class="articleImageTitle">
                                        *image desciption*
                                    </span>
                                </div>
                            </div> <!-- articleSidebar -->
                        </div> <!-- articleColumnsContainer -->

                    </main>
                </div> <!-- contentContainer -->                
            </div> <!-- mainContainerForeground -->
            
            <!-- Website footer -->
            <div id="footerContent" hx-get="/tfwiki/assets/parts/footer.html" hx-swap="innerHTML" hx-trigger="load"></div>
        </div> <!-- mainContainerBackground -->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
        <!-- <link rel="stylesheet" href="/tfwiki/assets/styles/dark.css"> -->
    </body>
</html>